@font-face {
    font-family: 'Soliden Trial';
    src: url('font/Soliden Trial.otf');
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/pretendard/Pretendard-Regular.otf') format('opentype');
   
}